<h1>Instituciones</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Dv</th>
      <th>Nombre Institución</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.rut %></td>
        <td><%= institution.dv %></td>
        <td><%= institution.business_name %></td>
        <td><button type="button" class="btn btn-success"><%= link_to 'Mostrar', institution %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_institution_path(institution) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Eliminar', institution, method: :delete, data: { confirm: 'Está seguro(a) que quiere eliminarlo?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nueva Institución', new_institution_path %>
