<div class="table-responsive">
<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Rut</th>
  		<th>Dv</th>
  		<th>Institución</th>
  	</tr>
  </thead>
  <tbody>
  	<tr>
  		<td><%= @institution.rut %></td>
  		<td><%= @institution.dv %></td>
  		<td><%= @institution.business_name %></td>
  	</tr>
  </tbody>
 </table>
 </div>

<%= link_to 'Editar', edit_institution_path(@institution) %> |
<%= link_to 'Volver', institutions_path %>