<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @institution.rut %>
</p>

<p>
  <strong>Dv:</strong>
  <%= @institution.dv %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @institution.business_name %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
