<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.number_field :rut, id: :client_rut %>
  </div>

  <div class="field">
    <%= form.label :dv %>
    <%= form.text_field :dv, id: :client_dv %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :client_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :client_last_name %>
  </div>

  <div class="field">
    <%= form.label :institution_id %>
    <%= form.text_field :institution_id, id: :client_institution_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
