<h1>Clientes</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre </th>
      <th>Apellido</th>
      <th>Institución</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= number_to_currency(client.rut, {:precision => 0, :unit => "",:delimiter => "."}) %>-<%= client.dv %></td>
        <td><%= client.name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.institution.business_name %></td>
        <td><button type="button" class="btn btn-success"><%= link_to 'Mostrar', client %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_client_path(client) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Está seguro(a) que quiere eliminarlo?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'Nuevo Cliente', new_client_path %>
