<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @client.rut %>
</p>

<p>
  <strong>Dv:</strong>
  <%= @client.dv %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @client.institution %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
