<h1>Cotizaciones</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Cliente</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.code_quotation.to_s  %></td>
        <td><%= quotation.title %></td>
        <td><%= quotation.description %></td>
        <td><%= quotation.state.name %></td>
        <td><%= quotation.client.fullname%></td>
        <td><button type="button" class="btn btn-success"><%= link_to 'Mostrar', quotation %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_quotation_path(quotation) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Eliminar', quotation, method: :delete, data: { confirm: 'Está seguro(a) que quiere eliminarlo?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nueva Cotización', new_quotation_path %>
