<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Cliente</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @quotation.code_quotation %></td>
      <td><%= @quotation.title %></td>
      <td><%= @quotation.state.name %></td>
      <td><%= @quotation.client.fullname %></td>
      <td><A HREF="<%= @quotation.document%>"><IMG NAME="mostrar" SRC="assets/images/documents.png%>"</A>Mostrar</td>

    </tr>
  </tbody>
 </table>
 </div>

<%= link_to 'Editar', edit_quotation_path(@quotation) %> |
<%= link_to 'Volver', quotations_path %>