<p id="notice"><%= notice %></p>

<p>
  <strong>Code quotation:</strong>
  <%= @quotation.code_quotation %>
</p>

<p>
  <strong>Title:</strong>
  <%= @quotation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quotation.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @quotation.state %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quotation.client %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
