<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @quotation.code_quotation %></td>
      <td><%= @quotation.title %></td>
      <td><%= @quotation.state_id %></td>
      <td><%= @quotation.client_id %></td>
    </tr>
  </tbody>
 </table>
 </div>

<%= link_to 'Editar', edit_quotation_path(@quotation) %> |
<%= link_to 'Volver', quotations_path %>