<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :OC %>
    <%= form.text_field :OC, id: :payment_OC %>
  </div>

  <div class="field">
    <%= form.label :coin %>
    <%= form.text_field :coin, id: :payment_coin %>
  </div>

  <div class="field">
    <%= form.label :rode %>
    <%= form.text_field :rode, id: :payment_rode %>
  </div>

  <div class="field">
    <%= form.label :iva %>
    <%= form.check_box :iva, id: :payment_iva %>
  </div>

  <div class="field">
    <%= form.label :quotation_id %>
    <%= form.text_field :quotation_id, id: :payment_quotation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
