<p id="notice"><%= notice %></p>

<h1>Pagos</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Oc</th>
      <th>Moneda</th>
      <th>Monto</th>
      <th>Iva</th>
      <th>Cotización</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.OC %></td>
        <td><%= payment.coin %></td>
        <td><%= payment.rode %></td>
        <td><%= payment.iva %></td>
        <td><%= payment.quotation.code_quotation %></td>
        <td><button type="button" class="btn btn-success"><%= link_to 'Mostrar', payment %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_payment_path(payment) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Eliminar', payment, method: :delete, data: { confirm: 'Está seguro(a) que quiere eliminarlo?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'Nuevo Pago', new_payment_path %>
