<!DOCTYPE html>
<html>
  <head>
    <title>Cotizaciones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul><li><%= link_to "cerrar sesión", destroy_user_session_path, method: :delete %></li></ul>
    <%= yield %>
  </body>
</html>
